# MongoDB Atlas connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/smartflash?retryWrites=true&w=majority

# JWT Token configuration
JWT_SECRET=supersecretkeychangeinproduction
ACCESS_TOKEN_EXPIRE_MINUTES=60
PORT=8000
